.tryCard {
    position: relative;
    background-color: #FFF;
    border-radius: 35px;
    padding: 20px 30px 20px;
    margin: 50px 40px 50px 20px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.25);
    max-width: 450px;
    transform: rotate(-5.337deg);
}

.tryTitle {
    color: #00A9AE;
    font-family: "HanziPen TC", "Yuji Boku", "Noto Sans JP", sans-serif;
    font-size: clamp(20px, 4vw, 24px);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
    transition: font-size 0.3s ease-in-out;
}

.titleJa {
    margin-right: 20px;
}

.tryDescription1 {
    color: #473D34;
    font-family: "Noto Sans JP";
    font-size: clamp(16px, 4vw, 20px);
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin: 0 auto;
}

.tryDescription2 {
    color: #473D34;
    font-family: "Noto Sans JP";
    font-size: clamp(16px, 4vw, 20px);
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin-top: 0;
}

.linkWrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.articleLink {
    color: #00A9AE;
    text-decoration: none;
    font-weight: 700;
    font-size: clamp(20px, 4vw, 24px);
    margin-bottom: 10px;
    transition: font-size 0.3s ease-in-out;
}

.arrowDots {
    margin-left: 5px;
    height: 6px;
    width: 50px;
    display: inline-block;
    border-top: dashed 4px #00A9AE;
    border-radius: 2px;
    flex-grow: 1;
    flex-shrink: 1;
}

.roundButton {
    position: absolute;
    right: -50px;
    top: 35%;
    transform: translateY(-50%);

    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #00A9AE;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.openIcon img {
    width: 100%;
    margin-top: 5px;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

.tryCard:hover {
    background-color: #f1fcff;
    border: #00A9AE 1px solid;
    color: #00A9AE;
    box-shadow: 0 10px 25px rgba(71, 61, 52, 0.12);
}

.tryCard:hover .roundButton {
    width: 70px;
    height: 70px;
}

.tryCard:hover .openIcon img {
    width: 120%;
}

.tryCard:hover .articleLink {
    font-size: clamp(24px, 3vw, 30px);
}

.tryCard:hover .tryTitle {
    font-size: 24px;
}

