.ctaBackground{
    position: relative;
    margin: 70px 0 60px 20px;
    padding: 10px 20px;
    min-height: 60vh;
    background: #FFF2CC;
    border-radius: 400px 0 0 400px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardWrapper {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
    width: 100%;
}

@media (min-width: 768px) {
    .cardWrapper {
        flex-direction: row; 
        gap: 50px;   
    }
}