.container {
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 80px 30px 15px;
}

.mainTitle {
    font-size: clamp(16px, 3vw, 32px);
    color: #473D34;
    display: flex;
    align-items: baseline;
    justify-content: left;
    gap: 15px;
    margin-bottom: 30px;
    position: relative;
}

.subTitle {
    font-family: "HanziPen TC", "Yuji Boku", sans-serif, cursive;
    font-size: clamp(14px, 3vw, 28px);
    color: #F7AE41;
}

.searchArea {
    margin: 0 auto;
}

.result {
    background-color: #FFFAEA;
    border-radius: 50px;
    padding: 20px 20px 50px;
}

.resultCount {
    font-weight: 400;
    font-size: clamp(16px, 3vw, 28px);
    justify-content: left;
}

.tagName {
    color: #F08300;
    font-weight: 700;
    margin-left: 5px;
    margin-right: 5px;
}

.countNum {
    color: #F08300;
    font-weight: 700;
    font-size: clamp(24px, 3vw, 36px);
    margin-left: 5px;
    margin-right: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px;
    justify-items: center;
    margin-top: 40px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.backBtn {
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
    width: 100%;
    max-width: 250px;
    border: 2px solid #F08300;
    border-radius: 50px;
    color: #F08300;
    background: #fff;
    -webkit-box-shadow: 4px 4px 0 #F08300;
    box-shadow: 4px 4px 0 #F08300;
    padding: 0.7em 1.3em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
    justify-items: center;
}

.backBtn:hover {
    transform: translateY(-5px);
    -webkit-box-shadow: -4px -4px 0 #F08300;
    box-shadow: -4px -4px 0 #F08300;
}

.backToListBtn {
    color: #F08300;
    text-decoration: none;
    font-size: clamp(14px, 3vw, 24px);
    font-weight: bold;
    display: block;
    line-height: 1.3;
    text-align: center;
}

.breadcrumb {
    width: 100%;
    color: #888888b6;
    font-size: clamp(8px, 3vw, 14px);
    padding: 10px 20px;
    margin-right: 20px;
    text-align: right;
}

.breadcrumbArrow {
    margin-left: 7px;
    margin-right: 2px;
}

.breadcrumbLink:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.noResult {
    grid-column: 1 / -1;
    text-align: center;
    padding: 70px 0 90px;
    color: #473D34;
    font-weight: 700;
    font-size: clamp(24px, 5vw, 48px);
}

@media (min-width: 768px) {

    .header {
        padding: 100px 100px 15px;
    }

    .result {
        padding: 80px 100px 150px;
    }

    .resultCount {
        margin-bottom: 50px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px 20px;
        justify-items: center;
        margin-top: 40px;
    }

    @media (min-width: 1024px) {

        .grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px 20px;
            justify-items: center;
            margin-top: 40px;
        }

    }
}