.keyVisual {
  position: relative;
  overflow: hidden;
  padding: 80px 20px 50px;
}

.taglineTopContainer,
.taglineBottomContainer {
  font-size: clamp(20px, 5vw, 30px);
  font-family: "HanziPen TC", "Yuji Boku";
  font-weight: 700;
  line-height: 1.8;
  color: #473D34;
  margin: 0;
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 0.2em;
  display: block;
  z-index: 50;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.taglineTopContainer p,
.taglineBottomContainer p {
  margin: 0 auto;
}

.line1 {
  opacity: 0;
  animation: fadeIn 2s ease-out forwards;
  background-color: #ffffff75;
  border-radius: 1px;
  padding-top: 10px;
}

.line2 {
  opacity: 0;
  animation: fadeIn 3s ease-out forwards;
  background-color: #ffffff75;
  border-radius: 1px;
  padding-top: 10px;
}

.line3 {
  opacity: 0;
  animation: fadeIn 4.5s ease-out forwards;
  background-color: #ffffff75;
  border-radius: 1px;
  padding-top: 10px;
}

.line4 {
  opacity: 0;
  animation: fadeIn 5.5s ease-out forwards;
  background-color: #ffffff75;
  border-radius: 1px;
  padding-top: 10px;
}

.taglineTopContainer b {
  color: #F7AE41;
  font-weight: 700;
}

.taglineBottomContainer b {
  color: #00A9AE;
  font-weight: 700;
}

.taglineTopContainer {
  position: relative;
  top: 70px;
  right: 20px;
}

.taglineTopContainer p:first-child {
  position: relative;
  bottom: 65px;
}

.taglineBottomContainer {
  position: relative;
  bottom: 10px;
  left: 20px;
}

.taglineBottomContainer p:first-child {
  position: relative;
  bottom: 50px;
}

.taglineTop {
  white-space: pre-wrap;
}

.taglineBottom {
  white-space: pre-wrap;
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
}

.bottomSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.recipeBook {
  width: 100%;
  max-width: 250px;
}

.cookingPrep {
  width: 100%;
  max-width: 250px;
  position: relative;
  top: -20px;
}


@media (min-width: 400px) {

  .recipeBook,
  .cookingPrep {
    max-width: 250px;
    transition: max-width 0.5s ease;
  }

  .cookingPrep {
    top: -40px;
  }

  @media (min-width: 500px) {

    .recipeBook,
    .cookingPrep {
      max-width: 350px;
      transition: max-width 0.5s ease;
    }

    .cookingPrep {
      top: -80px;
    }
  }

  @media (min-width: 700px) {
    .keyVisual {
      display: grid;
      grid-template-rows: auto 150px;
      gap: 0;
      max-width: 1200px;
      margin: 0 auto;
      transition: max-width 0.5s ease;
    }

    .bottomSection {
      margin-top: -250px;
      z-index: 3;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .cookingPrep {
      top: 0;
      z-index: 3;
    }

  }

  @media (min-width: 800px) {

    .keyVisual {
      max-width: 1000px;
      margin: 0 auto;
      padding: 120px 40px 30px;
    }

    .recipeBook,
    .cookingPrep {
      max-width: 350px;
      transition: max-width 0.5s ease;
    }

    .taglineTopContainer {
      margin-right: -2%;
    }

    .taglineBottomContainer {
      margin-left: -2%;
    }

    .topSection {
      margin-left: 10%;
    }

    .bottomSection {
      margin-right: 10%;
    }
  }

  @media (min-width: 900px) {

    .keyVisual {
      max-width: 1200px;
      margin: 0 auto;
      padding: 120px 40px 30px;
    }

    .recipeBook,
    .cookingPrep {
      max-width: 350px;
      transition: max-width 0.5s ease;
    }

    .taglineTopContainer {
      margin-right: -2%;
    }

    .taglineBottomContainer {
      margin-left: -2%;
    }

    .topSection {
      margin-left: 10%;
    }

    .bottomSection {
      margin-right: 10%;
    }
  }

  @media (min-width: 1024px) {

    .keyVisual {
      max-width: 1200px;
      margin: 0 auto;
      padding: 100px 40px 50px;
    }

    .recipeBook,
    .cookingPrep {
      max-width: 400px;
      transition: max-width 0.5s ease;
    }

    .taglineTopContainer {
      margin-right: -2%;
      font-size: 32px;
    }

    .taglineBottomContainer {
      margin-left: -2%;
      font-size: 32px;
    }

    .topSection {
      margin-left: 15%;
    }

    .bottomSection {
      margin-right: 15%;
    }
  }

  @media (min-width: 1600px) {
    .keyVisual {
      position: relative;
      overflow: hidden;
      padding: 150px 20px 50px;
      margin-bottom: 90px;
    }
  }
}