.articleCard {
    border-radius: 10px;
    border: 1px solid #473D34;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.articleCard:hover {
    transform: translateY(-5px);
    background-color: #FFF9E5;
    border: #F7AE41 1px solid;
    color: #F7AE41;
    box-shadow: 0 10px 25px rgba(71, 61, 52, 0.12);
}

.cardLink {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 10px 13px; 
}

.tag {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    color: #473D34;
    gap: 8px;
    margin-bottom: 10px;
}

.tagDot {
    display: inline-block;
    width: 10px;
    height: 11px;
    flex-shrink: 0;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%); 
}

.cardImageWrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 12px;
    overflow: hidden;
}

.cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardTitle {
    font-size: clamp(12px, 3vw, 24px);
    line-height: 1.6;
    margin: 0 0 10px;
    font-weight: 700;
    color: #473D34;
    text-align: left;
    line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.cardFooter {
    display: flex;
    align-items: center;
    margin-top: auto; 
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.readLink {
    color: #F08300; 
    font-size: clamp(12px, 3vw, 18px);
    font-weight: 700;
}

.arrow {
    color: #F08300;
    font-size: 12px;
    font-weight: 700;
    margin-left: 15px;
    flex-grow: 1; 
    text-align: left;
}
