.likeBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: clamp(18px, 3vw, 24px);
    height: clamp(18px, 3vw, 24px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}

.likeBtn:hover {
    transform: scale(1.1);
}

.heartIcon {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #473D34;
    stroke-width: 1.5px;
    transition: all 0.3s ease;
}

.isLiked .heartIcon {
    fill: #F7AE41;
    stroke: #f7ae4100;
}