.slideSection {
    padding: 100px 0 0;
    text-align: center;
    overflow: hidden;
}

.carouselWrapper {
    margin-left: auto;
    margin-right: auto;
}

.articleSwiper {
    width: 100%;
    padding: 10px 0;
}

.cardContainer {
    flex-shrink: 0;
    padding: 10px 0;
    position: relative;
    display: inline-block;
}

.cardLink {
    text-decoration: none;
    display: block;
    position: relative;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    height: 100%;
}

.imageBox {
    position: relative;
    border: 5px solid #473D34;
    border-radius: 25px;
    overflow: hidden;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContainer .imageBox::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #ffffff;
    opacity: 60%;
    transition: opacity 0.3s ease-in-out;
}

.cardImage {
    width: 95%;
    height: 95%;
    object-fit: cover;
    display: block;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

.cardContainer:hover .imageBox::before {
    opacity: 0;
}

.cardContainer:hover .cardImage {
    width: 100%;
    height: 100%;
}

.cardContainer:hover .imageBox {
    border: none;
}

.tag {
    position: absolute;
    font-family: "noto sans jp";
    top: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: clamp(10px, 3vw, 16px);
    font-weight: 700;
    padding: 3px 8px;
    border-radius: 30px;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 8px;
}

.tagDot {
    display: inline-block;
    width: 10px;
    height: 11px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%); 
    flex-shrink: 0;
}

.cardTitle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    z-index: 5;
    font-size: clamp(16px, 3vw, 36px);
    font-weight: 700;
    padding: 0 6%;
    color: #473D34;
    line-height: 1.5;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    z-index: 9;
}

.cardContainer:hover .cardTitle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    z-index: 5;
    font-size: 20px;
    font-weight: 700;
    padding: 0 20px;
    color: #ffffff00;
    line-height: 1.5;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    z-index: 9;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.navButton {
    background: none;
    border: none;
    cursor: pointer;
    color: #473D34;
    font-size: clamp(16px, 3vw, 32px);
    font-weight: 700;
    display: flex;
    align-items: center;
    font-family: "noto sans jp";
}

.arrow {
    font-size: clamp(16px, 3vw, 24px);
    vertical-align: middle;
    margin: 0 15px;
}

.swiperButtonPrev:after,
.swiperButtonNext:after {
    display: none;
}

.navButton:hover {
    color: #473D34;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px #473D34;
    transform: scale(1.15);
}