.indexSection {
  max-width: 700px;
  margin: 100px auto;
  padding: 0 30px;
  background-color: #ffffff; 
  color: #473D34;
}

.index {
  font-family: "HanziPen TC", "Yuji Boku", sans-serif, cursive;
  font-size: clamp(24px, 3vw, 32px);
  margin-bottom: 30px;
  font-weight: 700;
}

.indexList {
  padding: 0;
  list-style: none;
  counter-reset: my-counter;
}

.indexItem {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  position: relative;
  counter-increment: my-counter;
}

.indexItem::before {
  content: counter(my-counter) "."; 
  font-size: clamp(16px, 3vw, 18px); 
  color: #473D34;
  margin-right: 15px;
  font-weight: 500;
  line-height: 1.6; 
}

.indexItem a {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #473D34;
  font-size: clamp(16px, 3vw, 18px);
  line-height: 1.6;
  font-weight: 500;
  padding-bottom: 2px;
  display: inline;
}

.indexItem a:hover {
  opacity: 0.7;
  color: #a3a3a3;
  text-decoration-color: #a3a3a3;
}

.line {
  display: block;
  width: 90%;
  max-width: 700px;
  margin: 50px auto 70px;
}

[id^="section"] {
  scroll-margin-top: 120px; 
}